DATABASE_URL=postgres://93ebde5083d1bb0b7425f3e1d541231d6f6e4d3ba4114497765e401a333801ba:sk_lrEbZGM3UVqh3VZqUAVMl@db.prisma.io:5432/postgres?sslmode=require

PORT=5000
NODE_ENV=development



SUPER_ADMIN_NAME=Tanvir
SUPER_ADMIN_EMAIL=tanvir1@gmail.com
SUPER_ADMIN_PHONE=01700000000
SUPER_ADMIN_PASSWORD=123456




JWT_SECRET=9f8a7c3d1b2e4f6a9c8d7e6f5a4b3c2d1e0f
JWT_EXPIRES_IN=7d

BCRYPT_SALT_ROUNDS=10